@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/Authentication.cshtml";
}
<div class="main-container">
<div class=".hero">
<p><strong>Адреса:</strong> вул. Банківська, 1, Київ, Україна</p>
<li> <p><strong>Телефон:</strong> <a href="tel:+380501231231">380(50)123 12 31</a></li>
<p><strong>Email:</strong> NeSkam@gmail.com</p>
<p><strong>Години роботи:</strong> Пн-Пт: 9:00 - 18:00, Сб-Нд: Вихідний</p>
</div>
<a href="/Home/index">
    <button class="btn btn-secondary">Назад</button>
</a>
</div>