@{
    ViewBag.Title = "InfoBank";
    Layout = "~/Views/Shared/Authentication.cshtml";
}
<div class="main-container">
    
    <h1>Інформація про банк</h1>
    <style>
        .info {
            margin-top: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
        }
        .info p {
            margin-bottom: 10px;
            font-size: 18px;
        }
    </style>
    <div class="info">
        <p><strong>Назва банку:</strong> TrustBank</p>
        <p><strong>Адреса:</strong>Вулиця Інститутська, 9, Київ</p>
        <li> <p><strong>Телефон:</strong> <a href="tel:+380501231231">380(50)123 12 31</a></li>
        <p><strong>Email:</strong> NeSkam@gmail.com</p>
        <p><strong>Години роботи:</strong> Пн-Пт: 9:00 - 18:00, Сб-Нд: Вихідний</p>
        <p><strong>Опис:</strong> TrustBank - це надійний банк, який пропонує широкий спектр фінансових послуг, включаючи кредитування, депозити та інвестиційні рішення. Ми прагнемо забезпечити наших клієнтів високоякісним обслуговуванням та інноваційними продуктами.</p>
        <p> Заснований в 5023 році. Отримав нагороду Надійніший банк 5024 року. Пережив всі інші банки та став єдиним  </p>
    </div>

<a href="/Home/index">
    <button class="btn btn-secondary">Назад</button>
</a>
</div>
